@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.form-group{
  color: darkblue;
  padding: 0 10px;

}

#hora{
  color: #ff0043;
}

.css-class-to-highlight{
  background-color: #fa0;
}

.valor{
  text-align: right;
}

#estado{
  color: red;
  padding: 10px 10px;
  text-align: right;
  font-size: 16px;
}

.paciente-id{
  display: inline;
  color: #9c0033;
}

.paciente-nombre{
  display: inline-block;
  color: #985f0d;
}

.panel{
  margin-top: 10px;
}

#lista-citas{
  margin-top: 15px;
}

.panel-heading{
  background: #99ee44;
}

.table{
  margin-top: 10px;
}

textarea {
  resize: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}